<% include partials/top %>

<div id="homeContainer" class="container">

  <h1 class="text-center">Admin Page</h1>

  <a class="btn btn-outline-primary btn-block" href="/users">Users</a>

</div>

<% include partials/bottom %>
