<% include partials/top %>

<div id="homeContainer" class="container mt-3">

  <h1 class="text-center">Todo App</h1>

  <p>Sorry, it appears that you are offline.</p>

</div>

<script src="/js/home-script.js"></script>

<% include partials/bottom %>
