<% include partials/top %>

<div id="homeContainer" class="container">

  <h1 class="text-center">View User</h1>

  <a class="btn btn-outline-primary btn-block mb-3" href="/users/<%= user._id %>/edit">Edit User</a>

  <table class="table">
    
    <thead class="table-dark">
      
      <tr>
        
        <th>Email</th>
        <th>Admin</th>

      </tr>

    </thead>

    <tbody>
      
      <tr>
        
        <th><%= user.email %></th>
        <th><%= user.admin %></th>

      </tr>
      
    </tbody>

  </table>

</div>

<% include partials/bottom %>
